<!DOCTYPE html>
<html>

<head>
  <title>Tweets!!!!</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="container">
    
    <h1><%= title %></h1>

    <p class="haiku">

      <% haiku.forEach(function(line) { %>
      <%= line %><br />
      <% }); %>

    </p>

    
    <button type="button" onclick="location.href='/'">
      &lt;&lt;BACK
    </button>

    <button type="button"  onClick="history.go(0)" value="Refresh">
      AGAIN!!
    </button>

  </div>
</body>
</html>



